<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Plant API</title>
</head>
<nav>
    <div class="nav-wrapper" style="display: flex; flex-direction: row; justify-content: space-around">
        <div class="title">CONNECTED FLOWERS</div>
        <div class="vide" style="width:50%"></div>
        <div class="welcome">Bienvenue sur votre application</div>
    </div>
</nav>

<body style="overflow-x: hidden">
    <div class="container">
        <div class="row">
            <div class="col s4 m4">
                {% for p in plant[0] %}
                <div class="card">
                    <div class="card-image">
                        <img src="{{ p.Photo }}">
                        <span class="card-title">{{ p.Nom }}</span>
                    </div>
                    <div class="card-content">
                        <p>Catégorie : {{ p.Categorie }}</p>
                        <p>Description : {{ p.Description }} </p>
                        <p>Humidité : {{ p.Humidite }}</p>
                        <p>Température en °C : {{ p.Temperature }}</p>
                        <p>Luminosité : {{ p.Luminosite }}</p>
                        <p>Période de floraison : {{ p.Periode_de_floraison }}</p>

                    </div>
                    <div class="card-action">
                        {% if not p.planteActuelle %}
                        <a href="choosePlant?id={{ p.id }}">Ajouter</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="bottom" style="border:2px solid rgb(153, 149, 149); border-radius:5px; padding:5px">
            <form action="newPlant" method="POST">
                <input type="text" name="name" placeholder="Nom" />
                <input type="text" name="categorie" placeholder="catégorie" />
                <input type="text" name="description" placeholder="description" />
                <input type="text" name="photo" placeholder="photo" />
                <input type="text" name="humidite" placeholder="humidité" />
                <input type="text" name="temperature" placeholder="température" />
                <input type="text" name="luminosite" placeholder="luminosité" />
                <input type="text" name="periode_de_floraison" placeholder="période de floraison" style="margin-bottom:10px"/>

                <input type="submit" style="border-style: none; background-color: orangered; color:white; width: 90px; height:40px; text-align: center">

            </form>
        </div>
    </div>

</body>

</html>